<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row-fluid"></div>
	<div class="span10">
		<h3> Scheduled Talks</h3>
	</div>

	{% for talk in techtalks.items %}
	<div class="span8">
    <table class="table table-bordered table-condensed" >
        <tbody>

            <tr>
                <td colspan=2>{{talk.title}}</td>
			<tr>
				<td colspan=2>{{talk.description}}</td>
			</tr>
			<tr>
				<td>Schedule Date:{{talk.scheduled_at }}</td>
                <td>
					<img src="{{talk.author.avatar(30)}}"> - <i>{{talk.author.nickname}}</i>
				</td>
			</tr>
        </tbody>
    </table>
	</div>
    {% endfor %}

</div>
{% endblock %}
