<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h3>Hi, {{g.user.nickname}}!</h3>

    <table border=1>
        <thead>
			<tr>
                <th>Title</th>
                <th>Created On</th>
                <th>Scheduled For</th>
                <th>Presenter</th>
            </tr>
        </thead>
        <tbody>
        {% for talk in techtalks.items %}
            <tr valign="top">
                <td>{{talk.title}}</td>
                <td>{{talk.created_at}}</td>
                <td>{{talk.scheduled_at }}</td>
                <td>
					<img src="{{talk.author.avatar(50)}}">
					<i>{{talk.author.nickname}}</i>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
